{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if device %}
    <h1>{{ device.device_id }}</h1>
    <p>{{ device.active }}</p>
    {% else %}
          <form method="post" action="">{% csrf_token %}
            <div class="form-group">
                <label for="device_id">Email:</label>
                <input type="text" class="form-control" id="device_id" placeholder="Enter device ID" name="device_id">
            </div>
               <button type="submit" class="btn btn-default">Submit</button>
          </form>
    {% endif %}

</div>
{% endblock %}